.places {
    box-sizing: border-box;
    padding: 0 48px;
    position: relative;
    overflow: hidden;   
}

@media screen and (min-width: 1280px) {
    .places {
        padding: 0 100px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 767px) {
    .places {
        padding: 0;
    }
}