.places {
    box-sizing: border-box;
    padding: 0 48px;
    position: relative;
    overflow: hidden;
    margin: 0 0 92px 0;
}

@media screen and (max-width: 768px) {
    .places {
        padding: 0 24px;
        margin: 0 0 90px 0;
    }
}