.cover {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url(../../images/cover__background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 640px;
    justify-content: center;
    align-content: center;
    margin: 0 0 92px 0;
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
        margin: 0 0 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        min-height: 200px;
        margin: 0 0 64px 0;
    }
}
